* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  height: 100%;
  width: 100%;
  background-color: black;
 

}

/* Creating card */

.card {
    width: 22vw;
    height: 36vw;
    margin: auto;
    background-color: white;
    padding: 0.833vw;
    border: 2px solid rgb(244, 100, 100);
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.c-header {
  display: flex;
  width: 100%;
  height: 2.604vw;
  justify-content: space-between;
}
.c-header .h-left {
  height: 100%;
  display: flex;
  align-items: center;
}
.c-header .h-left .image {
  height: 2.344vw;
  width: 2.344vw;
  border: none;
}
.c-header .h-left span {
  font-size: 0.881vw;
  font-weight: normal;
}
.c-header .h-right {
  height: 100%;
  display: flex;
  align-items: center;
}
.c-header .h-right p {
  cursor: pointer;
  color: #1877f2;
}
.story {
    height: 3.125vw;
    width: 3.125vw;
    border-radius: 50%;
    border: 3px solid #f56040;
    margin-right: 0.521vw;
    background-image: url("https://th.bing.com/th/id/R.e7dca7147d2856752a081edc436b1ec2?rik=%2fSH6iRM9UnhO2w&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fwp1837295.jpg&ehk=9noZcHOsqrJ3W4Av13LiVmifZqR0yHr8mLdS2xHsoNE%3d&risl=&pid=ImgRaw&r=0");
    background-position: center;
    background-size: contain;
    border-top-color: #c13584;
    border-right-color: #fd1d1d;
    border-left-color: #f77737;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
  }
.c-header .h-right button {
  height: 1.458vw;
  width: 3.385vw;
  background-color: rgb(220, 219, 219);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.794vw;
  margin-right: 1.042vw;
}
.c-post {
  position: relative;
}
.c-post i {
  color: white;
  font-size: 5.208vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform ease 0.2s;
  transform: translate(-50%, -50%) scale(0);
}
.c-post img,
video {
  width: 100%;
  height: 25.958vw;
  margin: 0.521vw 0;
  border-radius: 8px;
}
.c-footer {
  display: flex;
  width: 100%;

  justify-content: space-between;
  padding: 0.313vw 0.417vw;
}
.c-footer .f-left {
  width: 32%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.c-footer .f-left i:nth-child(4) {
  position: absolute;
  top: 0;
  color: red;
  transition: transform ease 0.2s;
  transform: scale(0);
}
.c-footer .f-right {
  padding-right: 0.625vw;
}
.c-footer i,
.nav .nav-right i {
  font-size: 1.286vw;
  cursor: pointer;
}
.c-description {
  width: 100%;
  height: 2.708vw;
  padding: 0.313vw 0.417vw;
}
.c-description p {
  font-size: 0.777vw;
  font-weight: normal;
}
@keyframes like {
  from {
    scale: 1;
  }
  27% {
    scale: 1.2;
  }
  to {
    scale: 1;
  }
}
@keyframes like2 {
  0% {
    background-image: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
    transform: translate(-50%, -50%) rotate(-45deg) scale(0);
  }
  35% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1.4);
    top: 50%;
  }
  60% {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    top: 50%;
  }
  100% {
    background-image: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
    -webkit-background-clip: text; /* For Safari */
    background-clip: text;
    color: transparent;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    top: 0%;
  }
}
